* {
  box-sizing: border-box
}

.App {
  width: 25%;
  margin: 0 auto;
}

.form {
  margin-top: 20rem;
}

.form-group {
  margin-bottom: 1rem;
}

.input-field {
  display: block;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  padding: 1.6rem 2rem;
  font-weight: 300;
  background: v#ffffff;
  color: #000000;
  border-radius: .25rem;
  background-clip: padding-box;
  border: 1px solid #C4C4C4;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-field.otp-field {
  text-align: center;
}

.success {
  text-align: center;
}

.custom-button {
    border-radius: .25rem;
    height: auto;
    padding:  .65rem 2rem;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: -0.5px;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}